@font-face {
  font-family: "iconfont"; /* Project id 2244682 */
  src: url('iconfont.woff2?t=1622702188045') format('woff2'),
       url('iconfont.woff?t=1622702188045') format('woff'),
       url('iconfont.ttf?t=1622702188045') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\e6d3";
}

.icon-gengduo:before {
  content: "\e644";
}

.icon-1:before {
  content: "\e6c5";
}

.icon-xin:before {
  content: "\e694";
}

.icon-xiazai:before {
  content: "\e63e";
}

.icon-pinglun:before {
  content: "\e70e";
}

.icon-unie655:before {
  content: "\e603";
}

.icon-touxiang:before {
  content: "\e71c";
}

.icon-weibo:before {
  content: "\e604";
}

.icon-xin1:before {
  content: "\e605";
}

.icon-gantanhao:before {
  content: "\e607";
}

.icon-yinleliebiao:before {
  content: "\e75f";
}

.icon-qq:before {
  content: "\e608";
}

.icon-zanpress:before {
  content: "\e609";
}

.icon-fangdajing:before {
  content: "\e601";
}

.icon-neirong:before {
  content: "\e66f";
}

